<!-- Desktop Header -->
<header class="w-full items-center bg-white py-2 px-6 hidden sm:flex">
    <div class="w-2/3">
        <div class="my-2 w-full  ">
            <div class="flex flex-row  justify-center  sm:mb-0">
                <div class="relative">
                    <select (change)="actualizarListado($event,'total')" class="p-component appearance-none h-full rounded-l border block  w-full bg-white border-gray-400 text-gray-700 py-2 px-4 pr-8 leading-tight focus:outline-none focus:bg-white focus:border-gray-500">
                                                
                        <option selected value="25">25</option>
                        <option value="50">50</option>
                        <option value="75">75</option>                        
                        <option value="100">100</option>
                    </select>
                    <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
                        <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                            <path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"></path>
                        </svg>
                    </div>
                </div>
                <div class=" relative">
                    
                    <select (change)="actualizarListado($event,'estados')" class="h-full 
                    p-component text-sm font-normal border-t border-l-0  border-r border-b  block appearance-none w-full bg-white border-gray-400 text-gray-700 py-2 px-4 pr-8 leading-tight focus:outline-none  focus:bg-white focus:border-gray-500">
                        <option [value]="0">TODOS</option>
                        <option [value]="-1" selected>PENDIENTES</option>                        
                        @for(estado of estados();track estado.id_estado){
                            <option [value]="estado.id_estado">{{estado.descripcion}}</option>
                        }
                        
                    </select>
                    <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
                        <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                            <path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"></path>
                        </svg>
                    </div>
                </div>
                <div class="relative">
                    <span class="h-full  absolute inset-y-0 left-0 flex items-center pl-2">                    
                        <svg viewBox="0 0 24 24" class="h-4 w-4 fill-current text-gray-500">
                            <path d="M10 4a6 6 0 100 12 6 6 0 000-12zm-8 6a8 8 0 1114.32 4.906l5.387 5.387a1 1 0 01-1.414 1.414l-5.387-5.387A8 8 0 012 10z">
                            </path>
                        </svg>
                    </span>
                    <input placeholder="Buscar" 
                    (input)="onSearch()"
                    [(ngModel)]="inputText" 
                     class=" p-component  rounded-r appearance-none  border border-l-0 border-gray-400 border-b block pl-8 pr-6 py-2  bg-white text-sm placeholder-gray-400 text-gray-700 focus:bg-white focus:placeholder-gray-600 focus:text-gray-700 focus:outline-none">
                </div>
            </div>
            
        </div>
    </div>
    <div class="relative w-1/3 flex justify-end">        
        <app-avatar [url]="usuario().photoURL" (click)="uiService.toggleMenu()"></app-avatar>                
        <button *ngIf="uiService.IsOpenMenu()" (click)="uiService.setMenuStatus(false)"
            class="h-full w-full fixed inset-0 cursor-default"></button>
            
        <div *ngIf="uiService.IsOpenMenu()" class="absolute w-32 z-50 bg-white rounded-lg shadow-lg py-2 mt-12">
            <a  class="block px-4  account-link py-1 hover:text-white">{{usuario().username}}</a>
            <a (click)="usuarioService.closeSession()" class="block px-4 account-link py-1 cursor-pointer hover:text-white">Salir</a>
        </div>


    </div>
</header>

<!-- Mobile Header & Nav -->
<header class="w-full bg-gradient-to-r from-indigo-900 to-sky-500 py-5 px-6 sm:hidden">
    <div class="flex items-center justify-between">
        
            <a  class="text-white text-lg font-bold  capitalize ">                
                 Tickets | SISOL</a>
        
            <div class="flex items-center  justify-between space-x-8">
                <button  class="text-white  focus:outline-none">
                    <i class="pi pi-filter" (click)="mostrarModalFiltro()" ></i>                       
                </button>            
                <button routerLink="/tickets/nuevo" class="text-white  focus:outline-none">
                    <i class="pi pi-plus"></i>                       
                </button>            
            <button (click)="uiService.toggleMenu()" class="text-white text-sm focus:outline-none">        
                @if (uiService.IsOpenMenu()){
                    <i class="pi pi-times"></i>
                }@else {                    
                        <i class="pi pi-bars"></i>                                                                            
                    
                }            
            </button>
            </div>
            
        
        
    </div>

    <!-- Dropdown Nav -->
    @if(uiService.IsOpenMenu()){
    <nav class="flex flex-col pt-4">    
        <!-- <a href="index.html" class="flex items-center text-white opacity-75 hover:opacity-100 py-2 pl-4 nav-item">
            <i class="fas fa-tachometer-alt mr-3"></i>
            Dashboard
        </a>
        <a href="blank.html" class="flex items-center active-nav-link text-white py-2 pl-4 nav-item">
            <i class="fas fa-sticky-note mr-3"></i>
            Blank Page
        </a>
        <a href="tables.html" class="flex items-center text-white opacity-75 hover:opacity-100 py-2 pl-4 nav-item">
            <i class="fas fa-table mr-3"></i>
            Tables
        </a>
        <a href="forms.html" class="flex items-center text-white opacity-75 hover:opacity-100 py-2 pl-4 nav-item">
            <i class="fas fa-align-left mr-3"></i>
            Forms
        </a>
        <a href="tabs.html" class="flex items-center text-white opacity-75 hover:opacity-100 py-2 pl-4 nav-item">
            <i class="fas fa-tablet-alt mr-3"></i>
            Tabbed Content
        </a>
        <a href="calendar.html" class="flex items-center text-white opacity-75 hover:opacity-100 py-2 pl-4 nav-item">
            <i class="fas fa-calendar mr-3"></i>
            Calendar
        </a>
        <a href="#" class="flex items-center text-white opacity-75 hover:opacity-100 py-2 pl-4 nav-item">
            <i class="fas fa-cogs mr-3"></i>
            Support
        </a>
        <a href="#" class="flex items-center text-white opacity-75 hover:opacity-100 py-2 pl-4 nav-item">
            <i class="fas fa-user mr-3"></i>
            My Account
        </a>

        <button
            class="w-full bg-white cta-btn font-semibold py-2 mt-3 rounded-lg shadow-lg hover:shadow-xl hover:bg-gray-300 flex items-center justify-center">
            <i class="fas fa-arrow-circle-up mr-3"></i> Upgrade to Pro!
        </button> -->
        <a   class="flex items-center text-white   py-2 pl-4">
            <i class="fas fa-sign-out-alt mr-3"></i>
            <app-avatar [url]="usuario().photoURL"  [username]="usuario().username" ></app-avatar>        
        </a>
        <a  (click)="cerrarSesion()" class="flex items-center text-white opacity-75 hover:opacity-100 py-2 pl-4 nav-item">
            <i class="fas fa-sign-out-alt mr-3"></i>
            Cerrar sesión
        </a>
    </nav>
    }

    <!-- <button class="w-full bg-white cta-btn font-semibold py-2 mt-5 rounded-br-lg rounded-bl-lg rounded-tr-lg shadow-lg hover:shadow-xl hover:bg-gray-300 flex items-center justify-center">
        <i class="fas fa-plus mr-3"></i> New Report
    </button> -->
</header>



<p-dialog 
    header="Filtro de Tickets" 
    [(visible)]="visible" 
    [modal]="true" 
    position="top"    
    [style]="{ width: '25rem' }">                
        <div class=" ">
            <div class="relative">
                <select (change)="actualizarListado($event,'estados',true)" class="h-full p-component text-sm font-normal rounded-r border-t sm:rounded-r-none sm:border-r-0 border-r border-b block appearance-none w-full bg-white border-gray-400 text-gray-700 py-2 px-4  leading-tight focus:outline-none focus:border-l focus:border-r focus:bg-white focus:border-gray-500">
                    <option [value]="0">TODOS</option>
                    <option [value]="-1" selected>PENDIENTES</option>                    
                    @for(estado of estados();track estado.id_estado){
                        <option [value]="estado.id_estado">{{estado.descripcion}}</option>
                    }
                    

                </select>
                <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
                    <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                        <path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"></path>
                    </svg>
                </div>
            </div>
        </div>
        
        <ng-template pTemplate="footer">
            <!-- <p-button 
                label="Cancel" 
                [text]="true" 
                severity="secondary" 
                (onClick)="visible = false" />
            <p-button 
                label="Save" 
                [outlined]="true" 
                severity="secondary" 
                (onClick)="visible = false" 
              /> -->
        </ng-template>
</p-dialog>