<!-- Desktop Header -->
<header class="w-full items-center bg-white py-2 px-6 hidden sm:flex">
    <div class="w-1/2"></div>
    <div class="relative w-1/2 flex justify-end">
        <app-avatar [url]="usuarioService.usuario!.photoURL!" (click)="uiService.toggleMenu()"></app-avatar>
        <!-- <button (click)="uiService.toggleMenu()"
            class="relative z-10 w-12 h-12 rounded-full overflow-hidden border-4 border-gray-400 hover:border-gray-300 focus:border-gray-300 focus:outline-none">
            <img src="https://www.github.com/shadcn.png">
        </button> -->
        <button *ngIf="uiService.IsOpenMenu()" (click)="uiService.setMenuStatus(false)"
            class="h-full w-full fixed inset-0 cursor-default"></button>
        <div *ngIf="uiService.IsOpenMenu()" class="absolute w-32 bg-white rounded-lg shadow-lg py-2 mt-12">
            <a href="#" class="block px-4  account-link py-1 hover:text-white">{{usuarioService.usuario.username}}</a>
            <a href="#" class="block px-4 account-link py-1 hover:text-white">Salir</a>
        </div>


    </div>
</header>

<!-- Mobile Header & Nav -->
<header class="w-full bg-gradient-to-r from-indigo-900 to-sky-500 py-5 px-6 sm:hidden">
    <div class="flex items-center justify-between">
        <div class="flex">            
            <a  class="text-white text-3xl  capitalize hover:text-gray-300">                
                 Tickets | SISOL</a>
            </div>
        
        <button (click)="uiService.toggleMenu()" class="text-white text-3xl focus:outline-none">        
            @if (uiService.IsOpenMenu()){
                <i class="pi pi-times"></i>
            }@else {
                <i class="pi pi-bars"></i>
                
            }            
        </button>
    </div>

    <!-- Dropdown Nav -->
    @if(uiService.IsOpenMenu()){
    <nav class="flex flex-col pt-4">    
        <!-- <a href="index.html" class="flex items-center text-white opacity-75 hover:opacity-100 py-2 pl-4 nav-item">
            <i class="fas fa-tachometer-alt mr-3"></i>
            Dashboard
        </a>
        <a href="blank.html" class="flex items-center active-nav-link text-white py-2 pl-4 nav-item">
            <i class="fas fa-sticky-note mr-3"></i>
            Blank Page
        </a>
        <a href="tables.html" class="flex items-center text-white opacity-75 hover:opacity-100 py-2 pl-4 nav-item">
            <i class="fas fa-table mr-3"></i>
            Tables
        </a>
        <a href="forms.html" class="flex items-center text-white opacity-75 hover:opacity-100 py-2 pl-4 nav-item">
            <i class="fas fa-align-left mr-3"></i>
            Forms
        </a>
        <a href="tabs.html" class="flex items-center text-white opacity-75 hover:opacity-100 py-2 pl-4 nav-item">
            <i class="fas fa-tablet-alt mr-3"></i>
            Tabbed Content
        </a>
        <a href="calendar.html" class="flex items-center text-white opacity-75 hover:opacity-100 py-2 pl-4 nav-item">
            <i class="fas fa-calendar mr-3"></i>
            Calendar
        </a>
        <a href="#" class="flex items-center text-white opacity-75 hover:opacity-100 py-2 pl-4 nav-item">
            <i class="fas fa-cogs mr-3"></i>
            Support
        </a>
        <a href="#" class="flex items-center text-white opacity-75 hover:opacity-100 py-2 pl-4 nav-item">
            <i class="fas fa-user mr-3"></i>
            My Account
        </a>

        <button
            class="w-full bg-white cta-btn font-semibold py-2 mt-3 rounded-lg shadow-lg hover:shadow-xl hover:bg-gray-300 flex items-center justify-center">
            <i class="fas fa-arrow-circle-up mr-3"></i> Upgrade to Pro!
        </button> -->
        <a href="#" class="flex items-center text-white opacity-75 hover:opacity-100 py-2 pl-4 nav-item">
            <i class="fas fa-sign-out-alt mr-3"></i>
            Cerrar sesión
        </a>
    </nav>
    }

    <!-- <button class="w-full bg-white cta-btn font-semibold py-2 mt-5 rounded-br-lg rounded-bl-lg rounded-tr-lg shadow-lg hover:shadow-xl hover:bg-gray-300 flex items-center justify-center">
        <i class="fas fa-plus mr-3"></i> New Report
    </button> -->
</header>