<div class="flex h-screen  antialiased text-slate-800">
  <div class="absolute top-0 left-0 z-50 w-full   bg-black/75 text-white px-2 ">
    <div class="py-2">
      <div class="gap-3 flex">
        <button (click)="cerrar()" type="button"
          class="  inline-flex items-center justify-center text-white hover:text-blue-500 focus:outline-none ">
          <i class="pi pi-chevron-left"></i>
        </button>
        <app-avatar [username]="username()" [url]="urlphoto()"></app-avatar>
      </div>

    </div>
  </div>
  <div class="flex flex-row h-full w-full overflow-x-hidden">
    <div class="flex flex-col flex-auto h-full ">
      <div class="flex flex-col flex-auto flex-shrink-0 rounded-2xl bg-gray-100 h-full ">
        <div id="bottom" class="flex flex-col h-full overflow-x-auto ">
          <div class="pt-20 w-full ">
            @for(mensaje of mensajes();track mensaje.id) {
            <app-mensaje [mensajeModel]="mensaje"></app-mensaje>
            }
          </div>

        </div>
        @if(loading()){
        <div class="flex items-center justify-center ">
          <div class="loader ease-linear rounded-full border-2 border-t-2 border-gray-200 h-16 w-16 mb-5"></div>
        </div>
        }
        <div class="flex flex-row items-center h-16  bg-gray-600/10 w-full px-4">
          <div class="flex space-x-2 mr-1">
            @if(!isMobile){
            <button (click)="fileRef.click()" class="text-gray-400 hover:text-gray-600 rounded-lg focus:outline-none  ">
              <i class="pi pi-paperclip"></i>
            </button>
            }
            @else{
            <div class="flex gap-3">
              <!-- <button (click)="cerrar()" class="text-gray-400 hover:text-gray-600 rounded-lg ">
                <i class="pi pi-chevron-left"></i>
              </button> -->
              <button (click)="cameraRef.click()"
                class="flex items-center justify-center text-gray-400 hover:text-gray-600">
                <app-camera-icon />
              </button>
            </div>
            }
          </div>
          <div class="flex-grow ml-1">
            <div class="relative w-full">
              <input type="text" (keyup)="onKeyUp($event)" [(ngModel)]="nuevoMensaje"
                class="flex w-full border rounded-xl focus:outline-none focus:border-indigo-300  h-10 px-2" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<input type="file" #cameraRef id="camera" (change)="importarArchivo($event)" capture="environment" accept="image/*"
  class="hidden">
<input type="file" #fileRef (change)="importarArchivo($event)" id="attachment" class="hidden">