:host {
  display: block;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loader {
  border-top-color: #3490dc; /* Cambia el color según tu preferencia */
  animation: spin 1s linear infinite;
}