<aside class="relative bg-gradient-to-b from-indigo-900 to-sky-500  h-screen w-56 hidden sm:block shadow-xl">
    <div >
        <div class="backdrop-blur-full bg-white/15  px-5">             
            <a >
                <img src="https://servicios.litoprocess.com/colaboradores/assets/_images/logoLito.svg"  />
            </a>
        </div>
        <div class="p-6">
            <button 
            routerLink="/tickets/nuevo"
            class="w-full bg-white cta-btn font-semibold py-1 mt-5 rounded shadow-lg hover:shadow-xl hover:bg-gray-300 flex items-center justify-center">
                <i class="pi pi-plus mr-3"></i>                
                 Nuevo ticket
            </button>
        </div>            
    </div>
    <nav class="text-white text-base font-semibold pt-3">
        <!-- <a href="index.html" class="flex items-center text-white opacity-75 hover:opacity-100 py-4 pl-6 nav-item">
            <i class="fas fa-tachometer-alt mr-3"></i>
            Dashboard
        </a>
        <a href="blank.html" class="flex items-center active-nav-link text-white py-4 pl-6 nav-item">
            <i class="fas fa-sticky-note mr-3"></i>
            Blank Page
        </a>
        <a href="tables.html" class="flex items-center text-white opacity-75 hover:opacity-100 py-4 pl-6 nav-item">
            <i class="fas fa-table mr-3"></i>
            Tables
        </a>
        <a href="forms.html" class="flex items-center text-white opacity-75 hover:opacity-100 py-4 pl-6 nav-item">
            <i class="fas fa-align-left mr-3"></i>
            Forms
        </a>
        <a href="tabs.html" class="flex items-center text-white opacity-75 hover:opacity-100 py-4 pl-6 nav-item">
            <i class="fas fa-tablet-alt mr-3"></i>
            Tabbed Content
        </a>
        <a href="calendar.html" class="flex items-center text-white opacity-75 hover:opacity-100 py-4 pl-6 nav-item">
            <i class="fas fa-calendar mr-3"></i>
            Calendar
        </a> -->
        <!-- <button class="w-full bg-white cta-btn font-semibold py-2 mt-3 rounded-lg shadow-lg hover:shadow-xl hover:bg-gray-300 flex items-center justify-center">
            <i class="fas fa-arrow-circle-up mr-3"></i> Upgrade to Pro!
        </button>
         -->
    </nav>
    <a (click)="cerrarSesion()" class="absolute w-full bg-black/35   cursor-pointer bottom-0  text-white flex items-center justify-center py-4">
        <i class="pi pi-sign-out mr-3"></i>
        
    </a>
    
    
</aside>