<div class="flex h-screen antialiased text-slate-800">
  <div class="flex flex-row h-full w-full overflow-x-hidden">
    <div class="flex flex-col flex-auto h-full ">
      <div class="flex flex-col flex-auto flex-shrink-0 rounded-2xl bg-gray-100 h-full ">
        <div id="bottom" class="flex flex-col h-full overflow-x-auto ">          
            <div  class="gap-y-4">          
              @for(mensaje of mensajes;track $index){
                <app-mensaje [propio]="mensaje.propio" [mensaje]="mensaje.mensaje"></app-mensaje>
              }                
            </div>
          
        </div>
        <div class="flex flex-row items-center h-16  bg-gray-600/10 w-full px-4">
          <div>
            <button class="flex items-center justify-center text-gray-400 hover:text-gray-600">
              <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="M15.172 7l-6.586 6.586a2 2 0 102.828 2.828l6.414-6.586a4 4 0 00-5.656-5.656l-6.415 6.585a6 6 0 108.486 8.486L20.5 13">
                </path>
              </svg>
            </button>
          </div>
          <div class="ml-5">
            <button class="flex items-center justify-center text-gray-400 hover:text-gray-600">
              <svg viewBox="0 0 24 24" class="w-7 h-7" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                <g id="SVGRepo_iconCarrier">
                  <g clip-path="url(#clip0_15_137)">
                    <rect width="24" height="24" fill="transparent"></rect>
                    <path
                      d="M3 8C3 7.44772 3.44772 7 4 7H8.5L9.5 4H14.5L15.5 7H20C20.5523 7 21 7.44772 21 8V19C21 19.5523 20.5523 20 20 20H4C3.44772 20 3 19.5523 3 19V8Z"
                      stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"></path>
                    <circle cx="12" cy="13" r="3" stroke="currentColor" stroke-linejoin="round"></circle>
                  </g>
                  <defs>
                    <clipPath id="clip0_15_137">
                      <rect width="24" height="24" fill="white"></rect>
                    </clipPath>
                  </defs>
                </g>
              </svg>

            </button>
          </div>
          
            <div class="flex-grow ml-1">
              <div class="relative w-full">
                <input type="text"
                (keyup)="onKeyUp($event)" 
                [(ngModel)]="nuevoMensaje"
                  class="flex w-full border rounded-xl focus:outline-none focus:border-indigo-300  h-10 px-2" />                              
              </div>
            </div>
            <div class="ml-2">
              <button
              type="button"
              (click)="enviarMensaje()"            
                class="flex items-center justify-center bg-indigo-500 hover:bg-indigo-600 rounded-xl text-white px-4 py-1 flex-shrink-0">
                <span>
                  Enviar
                </span>
                <span class="ml-2">
                  <svg class="w-4 h-4 transform rotate-45 -mt-px" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                    xmlns="http://www.w3.org/2000/svg">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                      d="M12 19l9 2-9-18-9 18 9-2zm0 0v-8"></path>
                  </svg>
                </span>
              </button>
            </div>

          
        </div>
      </div>
    </div>
  </div>
</div>
<!-- <input type="file" capture="environment" accept="image/*"> -->

