/* You can add global styles to this file, and also import other style files */



/* @import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css"; */

/* @tailwind base;
@tailwind components;
@tailwind utilities; */

@layer tw-base, primeng, tw-components, tw-utilities, tw-variants;
@import url('https://fonts.googleapis.com/css?family=Karla:400,700&display=swap');

@import "tailwindcss/base.css" layer(tw-base);
/* @import "primeng/resources/primeng.min.css"; */
/* @import "primeng/resources/themes/tailwind-light/theme.css"; */
@import "tailwindcss/components.css" layer(tw-components);
@import "tailwindcss/utilities.css" layer(tw-utilities);
@import "tailwindcss/variants.css" layer(tw-variants);

@import "primeicons/primeicons.css";
 /* @layer tw-base {
  {
    @apply transition-all duration-300 ease-in-out;
  }
}  */

 @layer tw-components {}

@layer tw-utilities {} 




.font-family-karla {
  font-family: karla;
}

.bg-sidebar {
  background: #3d68ff;
}

.cta-btn {
  color: #3d68ff;
}

.upgrade-btn {
  background: #1947ee;
}

.upgrade-btn:hover {
  background: #0038fd;
}

.active-nav-link {
  background: #1947ee;
}

.nav-item:hover {
  background: #1947ee;
}

.account-link:hover {
  background: #3d68ff;
}